/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF; /* Branco */
    color: #333;
}

header {
    background-color: #1c76d2; /* Azul mais escuro */
    padding: 20px;
    text-align: center;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Navegação Horizontal */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos do Main */
main {
    padding: 20px;
    text-align: center;
}

main h2 {
    color: #1c76d2; /* Azul mais escuro */
    font-size: 2em;
}

main p {
    font-size: 1.2em;
}

/* Estilos do Footer */
footer {
    background-color: #1c76d2; /* Azul mais escuro */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}

/* Estilos para a Galeria */
.galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.galeria img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

/* Estilos para Comentários */
.comentarios {
    margin: 20px auto;
    max-width: 600px;
    text-align: left;
}

.comentarios p {
    background-color: #e6f2ff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Estilos para a Localização */
.localizacao {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.localizacao img {
    width: 800px;  /* Dobro da largura anterior */
    height: 400px; /* Dobro da altura anterior */
    object-fit: cover;
    border-radius: 5px;
}

